.boardWrapper {
}

.statusBoard {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
}

.boardRow {
  display: flex;
  justify-content: center;
}
